<div class="todays-matches" *ngIf="securityService.currentUser.isAuthenticated; else noAuth">
  <div class="card" style="width: 18rem;" *ngFor="let match of todaysMatches">
    <div class="card-body">
      <h5 class="card-title">{{ match.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ match.startTime | date:'shortTime' }}</h6>
      <p class="card-text">{{ match.venue }}</p>
      <a href="javascript:void(0)" routerLink="/play/predict/{{match.id}}" class="btn btn-primary">Predict</a>
    </div>
  </div>
</div>

<ng-template #noAuth>
  <h2>You are not authorized to this screen</h2>
  <h4>please login
    <a href="javascript:void()" routerLink="/login">Login</a>
  </h4>
</ng-template>