.todays-matches .card {
    display: inline-block;
    margin: 0;
    width: 100%;
}

.todays-matches .card a{
    font: bold;
}
@media screen and (max-width: 480px) {
    .todays-matches .card {
    }
    img{
        max-width: 96px;
    }
    p{
        font-size: 14px;
    }
    .predict-button{
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .todays-matches .card {
    }
    img{
        max-width: 96px;
    }
    p{
        font-size: 14px;
    }
    .predict-button{
        font-size: 12px;
    }
}