<div class="match-overview">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Match Summary (CSK VS MI)</h5>
      <h6 class="card-subtitle mb-2 text-muted">Winner : MI</h6>
      <p class="card-text">About macth</p>
    </div>
  </div>
  <table class="table">
      <thead>
        <tr>
          <th>Catergory</th>
          <th>MI</th>
          <th>CSK</th>
          <th>Points/Person</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10 Points</td>
          <td>Yogesh, pankaj, akash</td>
          <td>Rhishi, gade</td>
          <td>15 Points</td>
        </tr>
        <tr>
          <td>10 Points</td>
          <td>Yogesh, pankaj, akash</td>
          <td>Rhishi</td>
          <td>15 Points</td>
        </tr>
      </tbody>
    </table>
</div>


