<div class="result-update-form"  *ngIf="userDetail.userType === 'Admin'">
  <h2 class="text-center">Update Match result</h2>
  <div class="form-group">
      <select class="form-control" [(ngModel)]="result.winningTeamId">
        <option value="{{match.team1.id}}">{{match.team1.fullName}}</option>
        <option value="{{match.team2.id}}">{{match.team2.fullName}}</option>
      </select>
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="Match Id" readonly [(ngModel)]="result.matchId">
  </div>
  <div class="form-group">
      <button (click)="update()" class="btn btn-primary btn-block">Update</button>
  </div>
</div>

<div class="match-overview" *ngIf="securityService.currentUser.isAuthenticated; else noAuth">
  <ng-container *ngIf="match && matchOverview && predictions">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ match.team1.fullName }} VS {{ match.team2.fullName }}</h2>
        <h4 class="card-subtitle mb-2 text-muted">{{ match.venue }}</h4>
        <h2 class="winner" *ngIf="matchOverview.winner">Winner: {{ matchOverview.winner }}</h2>
        <p class="card-text">{{ match.startTime | date: 'fullDate' }}</p>
      </div>
      <div class="card-footer" *ngIf="!isMatchStarted(match.startTime, id)">
        <button class="btn btn.primary predict-button" *ngIf="predictions.contestPredictions.length > 0; else predict_it" routerLink="/play/edit/{{match.id}}">Edit Pridiction</button>
        <ng-template #predict_it>
          <button class="btn btn.primary predict-button" routerLink="/play/predict/{{match.id}}">Predict</button>
        </ng-template>
      </div>
    </div>
    <table class="table overview-table" *ngIf="matchOverview.contestwisePredictions.length > 0">
      <thead>
        <tr>
          <th>Contest Type</th>
          <th>{{ match.team1.fullName }}</th>
          <th>{{ match.team2.fullName }}</th>
          <th>Winning Points(/person)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let overview of matchOverview.contestwisePredictions">
          <td>{{ overview.contestName | uppercase }}</td>
          <td>{{ overview.team1Users }}</td>
          <td>{{ overview.team2Users }}</td>
          <td>{{ overview.winningPoints }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>


<ng-template #noAuth>
  <h2>You are not authorized to this screen</h2>
  <h4>please login
    <a href="javascript:void()" routerLink="/login">Login</a>
  </h4>
</ng-template>