<div class="match-overview" *ngIf="securityService.currentUser.isAuthenticated; else noAuth">
  <div class="card" *ngIf="match && matchOverview">
    <div class="card-body">
      <h2 class="card-title">{{ match.team1.fullName }} VS {{ match.team2.fullName }}</h2>
      <h4 class="card-subtitle mb-2 text-muted">{{ match.venue }}</h4>
      <h5 class="card-subtitle mb-2 text-muted" *ngIf="matchOverview.winner">Winner: {{ matchOverview.winner }}</h5>
      <p class="card-text">{{ match.startTime | date: 'fullDate' }}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn.primary" *ngIf="matchOverview.contestwisePredictions.length > 0; else predict_it"  routerLink="/play/edit/{{match.id}}">Edit Pridiction</button>
      <ng-template #predict_it><button class="btn btn.primary predict-button" routerLink="/play/predict/{{match.id}}">Predict</button></ng-template>
    </div>
  </div>
</div>


<ng-template #noAuth>
  <h2>You are not authorized to this screen</h2>
  <h4>please login
    <a href="javascript:void()" routerLink="/login">Login</a>
  </h4>
</ng-template>