body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background: #193d5d;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover,.active{
    background: linear-gradient(#ffffff, #CACDCD,#ffffff);
    color: black!important;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 480px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnavresponsive {
      background: #193d5d;
      width: 100%;
    }
    .topnavresponsive a {
      float: none;
      display: block;
      text-align: left;
      color: #ffffff;
      text-decoration: none;
      border-bottom: 1px solid #808080;
      padding-left: 10px;
      padding-bottom: 10px;
    }
  }
@media screen and (max-width: 320px) {

}
.your-points{
  color: #fff;
  margin-right: 20px;
  margin-top: 10px;
}