<div class="topnav" id="myTopnav">
    <a href="javascript:void(0);" routerLink="play/todays-matches">Todays Match</a>
    <a href="javascript:void(0);" routerLink="play/upcoming">Upcoming Match</a>
    <a href="javascript:void(0);" routerLink="play/my-pridictions">My Predictions</a>
    <a href="javascript:void(0);" routerLink="play/all-matches">IPL Matches</a>
    <a href="javascript:void(0);">Points table</a>
    <a href="javascript:void(0);" routerLink="change-password">Change Password</a>
    <a href="javascript:void(0);" (click)="logout();">Logout</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
  </div>
