<table class="table">
  <thead>
    <tr>
      <th>Match</th>
      <th>Date</th>
      <th>Your prediction</th>
      <th>Winner</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="">MI vs CSK</a></td>
      <td>2 April 2018</td>
      <td>MI</td>
      <td>MI</td>
      <td>-10</td>
    </tr>
      <tr>
        <td><a href="">MI vs CSK</a></td>
        <td>2 April 2018</td>
        <td>MI</td>
        <td>MI</td>
        <td>-10</td>
      </tr>
      <tr>
        <td><a href="">MI vs CSK</a></td>
        <td>2 April 2018</td>
        <td>MI</td>
        <td>MI</td>
        <td>-10</td>
      </tr>
  </tbody>
</table>