<table class="table my-predictions-table" *ngIf="securityService.currentUser.isAuthenticated; else noAuth">
  <thead>
    <tr>
      <th>Match</th>
      <th>Match Date</th>
      <th>Contest</th>
      <th>Your prediction</th>
      <th>Winner</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let myPrediction of myPredictions">
      <td>{{ myPrediction.matchName}}</td>
      <td>{{ myPrediction.time | date: 'dd-MM-yyyy h:mm' }}</td>
      <td>{{ myPrediction.contest }}</td>
      <td>{{ myPrediction.predictedTeam }}</td>
      <td>{{ myPrediction.winningTeam }}</td>
      <td>{{ myPrediction.points }}</td>
    </tr>
  </tbody>
</table>
<ng-template #noAuth>
  <h2>You are not authorized to this screen</h2>
  <h4>please login
    <a href="javascript:void()" routerLink="/login">Login</a>
  </h4>
</ng-template>