<div class="change-form" *ngIf="securityService.currentUser.isAuthenticated; else noAuth">
  <h2 class="text-center">Change Password</h2>       
  <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="password.currentPassword" placeholder="Old Password" required="required">
  </div>
  <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="password.newPassword" placeholder="New Password" required="required">
  </div>
  <div class="form-group">
      <button [disabled]="errors.hasErrors()" class="btn btn-primary btn-block" (click)="changePassword()">Change</button>
  </div>      
</div>
<ng-template #noAuth>
  <h2>You are not authorized to this screen</h2>
  <h4>please login
    <a href="javascript:void()" routerLink="/login">Login</a>
  </h4>
</ng-template>