/* You can add global styles to this file, and also import other style files */
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #193d5d;
    background-color: #eeeeee;
}

.predict-button{
  background-color:#1A456A;
  color:#ffffff;
  font-size: 16px;
}
.predict-button:hover {
  background-color:#2d79bb;
  color:#ffffff;
  font-size: 16px;
}
.clear{
  clear: both;

}
.btn-info{
    padding-bottom: 0% !important;
}