<div class="all-matches" *ngIf="securityService.currentUser.isAuthenticated; else noAuth">
  <table class="table upcoming-matches-table">
    <thead>
      <tr>
        <th>Match</th>
        <th>Date</th>
        <th>Venue</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of upComing">
        <td>
          <a href="javascript:void(0)" routerLink="/play/predict/{{match.id}}">{{ match.name }}</a>
        </td>
        <td>{{ match.startTime | date: 'dd-MM-yyyy h:mm' }}</td>
        <td>{{ match.venue }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noAuth>
  <h2>You are not authorized to this screen</h2>
  <h4>please login
    <a href="javascript:void()" routerLink="/login">Login</a>
  </h4>
</ng-template>